body {
  margin: 0;
  padding: 0;
}

#main-navbar {
  background-color: blue;
  overflow: hidden;
  text-align: center; /* Center the navigation links */
}

#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#main-navbar ul li {
  display: inline-block; /* Display the list items horizontally */
}

#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

#main-navbar ul li a:hover {
  background-color: #000;
}

#onpage {
  text-decoration: underline overline;
}

#sidebar {
  position: fixed;
  right: 0;
  top: 0; /* Align the sidebar to the top of the page */
  background-color: red;
  height: 100%;
  width: 20%;
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#sidebar ul li a {
  display: block;
  padding: 15px 0;
  color: #fff;
  text-align: center; /* Center the text within sidebar links */
  text-decoration: none;
}

#sidebar ul li a:hover {
  background-color: #000;
}
